ddns-update-style interim;
 ignore client-updates;
 authoritative;
 allow booting;
 allow bootp;
 allow unknown-clients;

 subnet {{ ansible_eth1.ipv4.address }} netmask {{ ansible_default_ipv4.netmask}} {
 range {{ ServerIP }} {{ IpScopeEnd }} ;
 option domain-name-servers {{ ansible_eth1.ipv4.address }};
 option routers {{ ansible_eth1.ipv4.address }};
 default-lease-time 600;
 max-lease-time 7200;

 next-server {{ ansible_eth1.ipv4.address }}; #  DHCP server ip
 filename "pxelinux.0";
 }
